.grid-table {
    width: 800px;
    border-collapse: collapse;
  }
  
  .grid-table th, .grid-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    color: black;
  }
  
  .grid-table th {
    background-color: #E7F0F7;
    color: black;
    text-align: center;
  }
  
  
  
  .grid-table tr:hover {
    background-color: #ddd;
  }
  
  .ver-cie-10 {
    background-color: green;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
  }